<div class='row'><p><%= @company.name %></p></div>
<div class='row'><%= (@company.overview.match(/(<p>.*?\.)\W/)[-1] + '</p>').html_safe %></div>
<% @peeps.each do |peep| %>
  <div class='row'>
    <%= "#{peep.first_name} #{peep.last_name}" %>
    <img src=<%= "http://www.crunchbase.com/#{peep.image.sizes[1].url unless peep.image.blank?}" %>> <!-- need to find image url -->
  </div>
<% end %> 