<h1 class='text-center'>Periphery</h1>

<div ng-controller='RelationsCtrl'>
  <form class='row'>
    <input type='text' placeholder='Enter a startup' ng-model='searchCompany.name'>
  </form>
</div>

<div class='row'>
  <p>{{searchCompany.name}}</p>
</div>
<%# binding.pry %>