<h1 class='text-center'>Periphery</h1>

  <div ng-controller='RelationsCtrl'>
    <form>
      <div class='row'>
        <input type='text' placeholder='Enter a startup' ng-model='searchCompany.name'>
      </div>
      <div class='row'>
        <input type='submit' value='Search' class='button large-offset-5'>
      </div>
    </form>

    <ul>
      <div class='row'>
        <li ng-repeat='relation in relations'>
          {{relation.name}}
        </li>
      </div>
    </ul>
  </div>


<%# binding.pry %>