// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 auto;
}

li.th {
  height: 365px;
  width: 252px;
  margin: 1px;
  text-align: center;
  position: relative;
}

.flip {
  -webkit-perspective: 800;
  // height: 365px;
  // width: 252px;
  position: relative;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}

.flip .card {
  width: 252px;  //100%; removed by me
  height: 365px; //100%; removed by me
  left: -4px; // **
  top: -4px; // **
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.75s;
  position: absolute; // **
}  // ** put in by me to get the face of card to be exactly
   //    the same size and position as its parent.
   //    Still not ideal — don't want parent to show

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  text-align: center;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    cursor: pointer;
}

.back.face {
  overflow-y: scroll;
  text-align: justify !important;
}

input {
  text-align: center;
}

.alert {
  color: orange;
  text-align: center;
  font-weight: bold;
}

.title-twitter {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

h6 {
  font-size: 12px;
  margin: 5px;
}